.form-control, .badge {color: hsl(345, 100%, 60%)}
.badge.badge-light {font-size: 10pt}
.form-control::placeholder  {color: hsl(244, 100%, 60%)}
h1, h3, h5, label, p {color: #211d57}
.btn.btn-dark {
    color: hsl(0, 0%, 100%);
    background-color: #211d57;
}
.btn.btn-dark:hover {
    color: #ff3265;
    background-color: #2b2672;
}
.btn.btn-dark:disabled {
    color: rgb(151, 151, 151);
    background-color: #232050;
}
#removeHobbyBut {
    display: inline-block;
    min-width: 24px;
    min-height: 24px;
}
#hobbyButton {
    font-size: 14pt;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}
#hobbyName {
    color: #ff3265;
    display: inline-block;
    margin-right: 0.25em;
}