<h3>Add Hero</h3>
<div [hidden]="submitted" [@transitionView]>
    <form #addCustomerForm="ngForm">

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname"
        placeholder="Enter Hero's FirstName" 
        required
        [(ngModel)]="customer.firstname" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
            First Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname"
        placeholder="Enter Hero's LastName"
        required
        [(ngModel)]="customer.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">
            Last Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" 
        placeholder="Enter Hero's Age"
        required
        [(ngModel)]="customer.age" name="age" #age="ngModel">
        <div [hidden]="age.valid || age.pristine"
             class="alert alert-danger">
            Age is required
        </div>
      </div>

      <!-- Edit Hobbies form -->
      <form (ngSubmit)="formSubmitHobby(hobby.value)">
          <div class="form-group">
            <label for="hobby">Hobbies</label>
            <input type="text" class="form-control" id="hobby"
            placeholder="Press [Enter] to add Hobby"
            [(ngModel)]="hobbyInputVal" name="hobby" #hobby="ngModel">
          </div>
        </form>
        <!-- List out items from hobbies -->
        <div class="form-group">
          <span class="badge badge-light" *ngFor="let hobby of customer.hobbies" id="hobbyButton">
            <div id="hobbyName">{{hobby}}</div>
            <!-- Add a delete button for this item -->
            <button type="button" class="btn btn-dark" (click)="deleteHobby(hobby)" title="Remove" id="removeHobbyBut">✖️</button>
          </span>
        </div>
      
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Add</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light">{{customer.firstname}}  {{customer.lastname}}</span></p>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="newCustomer(); addCustomerForm.reset()">Continue</button>
    </div>
</div>