h1 {
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}

a.btn {color: #211d57}
a.btn:hover {color: #ff3265}

#retrieve {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#create {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#logo {
    display: fixed;
    width: 64px;
    height: 64px;
    background-image: url("./../assets/icons/logo.svg");
    margin: auto;
}