h1 {
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}

a.btn {color: #211d57}
a.btn:hover {color: #ff3265}

a.badge.badge-dark {
    font-size: 10pt;
    text-transform: uppercase;
}

#retrieve {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#create {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#logo {
    display: fixed;
    width: 64px;
    height: 64px;
    background-image: url("./../assets/icons/logo.svg");
    margin: auto;
}

/* Hide scrollbar and make height dynamic */
#parentContent{
    height: 100%;
    min-height: 100%;
    min-height: 100px;
    width: 100%;
    padding: 4px;
    margin: auto;
    overflow: hidden;
}
#childContent{
    width: 100%;
    min-height: 300px;
    height: calc(100vh - 340px);
    font-size: 18pt;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
    padding: auto;
    padding-left: 8px;
    /* Remove scroolbar */
    padding-right: 20px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + padding-right */
}

#footerInfo {
    display: block;
    padding: 8px;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
}