/* You can add global styles to this file, and also import other style files */
html, container, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Rotating Background Color */
#bgRotColor {
    position: relative;
    overflow: hidden;
}
#bgRotColor:before {
    content: "";
    position: fixed;
    width: 600%;
    height: 600%;
    top: -250%;
    left: -250%;
    margin: auto;
    padding: 0px;
    z-index: -1;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff3366;
    background-image: linear-gradient(20deg, #9233ff 25%, #ff3366 95%);
    /*background-image: linear-gradient(20deg, rgb(155, 131, 188) 0%, rgb(81, 63, 149) 100%);*/
    animation:colorRot 6s;
    -moz-animation:colorRot 6s infinite; /* Firefox */
    -webkit-animation:colorRot 6s infinite; /* Safari and Chrome */
}
@keyframes colorRot {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
@-moz-keyframes colorRot /* Firefox */ {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes colorRot /* Safari and Chrome */ {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#mainContent {
    margin: auto;
    padding: 1em;
    width: 100%;
    min-height: 475px;
}

.alert.alert-danger {color: #ff3265}

.form-control  {
    color: hsl(345, 100%, 60%);
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}
.form-control:invalid {
    border-color: rgba(255, 255, 255, 0.4);
    border-left: 5px solid hsl(0, 0%, 100%);
}
.form-control:valid {
    color: #211d57;
}
.form-control:focus {
    color: #211d57;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
}
.form-control::placeholder  {color: #9233ff}

.badge {
    color: #211d57;
    background-color: rgba(255, 255, 255, 0.267);
    border-color: rgba(255, 255, 255, 0.267);
}
.badge.badge-light {
    font-size: 12pt;
    font-weight: lighter;
    color: rgb(44, 29, 253);
}
span.badge.badge-dark {
    background-color: #211d57c2;
}

h1, h3, h5, label, p {color: #211d57}

.btn.btn-dark {
    color: hsl(0, 0%, 100%);
    background-color: hsla(244, 50%, 30%, 0.3);
}
.btn.btn-dark:hover {
    color: #ff3265;
    background-color: hsla(244, 50%, 30%, 0.6);
}
.btn.btn-dark:disabled {
    color: rgb(151, 151, 151);
    background-color: #23205056;
}

#removeHobbyBut {
    font-weight: lighter;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border-radius: 32px;
    border-color: rgba(255, 255, 255, 0);
    line-height: 1px;
}
#hobbyButton {
    font-size: 13pt;
    font-weight: initial;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}
#hobbyName {
    color: #211d57;
    display: inline-block;
    margin-right: 0.25em;
}

@media only screen and (max-width: 760px) {
    /* Change content width so they take entire width of screen*/
    #mainContent {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
    }
}