/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Rotating Background Color */
#bgRotColor {
    position: relative;
    height: 100%;
}
#bgRotColor:before {
    content: "";
    position: fixed;
    width: 200vw;
    height: 200vw;
    top: -100vw;
    left: -100vw;
    margin: auto;
    padding: 0px;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #9233ff;
    background-image: linear-gradient(20deg, #9233ff 25%, #d633ff 95%);
    /*background-image: linear-gradient(20deg, rgb(155, 131, 188) 0%, rgb(81, 63, 149) 100%);*/

    /* https://www.gradient-animator.com/ */
    background-size: 200% 200%;
    -webkit-animation: colorRot 13s ease infinite;
    -moz-animation: colorRot 13s ease infinite;
    -o-animation: colorRot 13s ease infinite;
    animation: colorRot 13s ease infinite;
    /*animation:colorRot 6s;*/
    /*-moz-animation:colorRot 6s infinite;*/ /* Firefox */
    /*-webkit-animation:colorRot 6s infinite;*/ /* Safari and Chrome */
}

@-webkit-keyframes colorRot {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes colorRot {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes colorRot {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes colorRot {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
/*
@keyframes colorRot {
    0% {transition: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
*/
/* Firefox */
/*
@-moz-keyframes colorRot {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
*/
/* Safari and Chrome */
/*
@-webkit-keyframes colorRot {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
*/

#mainContent {
    margin: auto;
    padding: 1em;
    width: 100%;
    max-width: 640px;
    height: 100%;
    min-height: 100%;
}

.alert.alert-danger {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border-color: none;
    border-style: none;
}

.form-control  {
    color: hsl(345, 100%, 60%);
    background-color: rgb(255, 255, 255, 0.75);
    border-color: rgb(255, 255, 255, 0.75);
}
.form-control:invalid {
    border-color: rgba(255, 255, 255, 0.4);
    border-left: 5px solid hsl(0, 0%, 100%);
}
.form-control:valid {
    color: #211d57;
}
.form-control:focus {
    color: #211d57;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.form-control::placeholder  {color: #9233ff}

.badge {
    color: #211d57;
    background-color: rgba(255, 255, 255, 0.267);
    border-color: rgba(255, 255, 255, 0.267);
}
.badge.badge-light {
    font-size: 12pt;
    font-weight: lighter;
    color: rgb(44, 29, 253);
}
span.badge.badge-dark {
    background-color: #211d57c2;
}

h1, h3, h5, label, p {color: #211d57}

.btn.btn-dark {
    color: hsl(0, 0%, 100%);
    background-color: hsla(244, 50%, 30%, 0.3);
}
.btn.btn-dark:hover {
    color: #ff3265;
    background-color: hsla(244, 50%, 30%, 0.6);
}
.btn.btn-dark:disabled {
    color: rgb(151, 151, 151);
    background-color: #23205056;
}

#removeHobbyBut {
    font-weight: lighter;
    display: inline-block;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    margin: auto;
    padding: 0;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0);
    line-height: 1px;
}
#hobbyButton {
    display: inline-block;
    font-size: 13pt;
    font-weight: initial;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    max-width: 100%;
    height: 34px;
}
#hobbyName {
    color: #211d57;
    display: inline-block;
    /* Hide text when it gets too long */
    width: calc(100% - 0.25em - 26px);
    height: 32px;
    margin-right: 0.25em;
    margin-bottom: -16px;
    overflow-x: hidden;
}

@media only screen and (max-width: 760px) {
    /* Change content width so they take entire width of screen*/
    #mainContent {
        max-width: 100%;
        width: 100%;
    }
}

@media all and (orientation:portrait) {
    #bgRotColor:before {
        /* whatever is longest */
        width: 200vh;
        height: 200vh;
        top: -50vh;
        left: -50vh;
    }
}
@media all and (orientation:landscape) {
    #bgRotColor:before {
        /* whatever is longest */
        width: 200vw;
        height: 200vw;
        top: -50vw;
        left: -50vw;
    }
}