<loading-spinner *ngIf="showSpinner"></loading-spinner>

<h3>All Heroes</h3>
<div [@transitionView]>
  <div class="heroSelect" *ngFor="let cust of customers; let rowIndex=index">
    <!-- Placeholder Hero Data -->
    <a *ngIf="showSpinner"><span class="badge badge-dark">{{rowIndex + 1}} | {{cust.firstname}} {{cust.lastname}}</span></a>
    <!-- Hero Data from server -->
    <a *ngIf="!showSpinner" [routerLink]="['/customers', cust._id]"><span class="badge badge-dark">{{rowIndex + 1}} | {{cust.firstname}} {{cust.lastname}}</span></a>
  </div>
</div>